html, body, #content, .page {
	font-family: zilla_slab, serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.page {
	width: 100%;
	height: 100vh;
	background-size: cover;
}


/* Header */
header {
	position: fixed;
	width: 100%;
}
header #logo, header #navbar, header #navbar ul li {
	float: left;
}

header #logo {
	margin: 4vh 5vw 0;
}
header #logo img {
	width: 11vw;
    height: auto;
}

header #navbar {
    margin: 6vh 5vw 0;
}
header #navbar ul li {
	list-style-type: none;
	margin: 0 3vw;
}
header #navbar ul li a {
	font-weight: bold;
	font-size: 15pt;
	text-decoration: none;
	color: white;
}


/* Side bar */
#socialMedia {
	background-color: rgba(248, 248, 248, 1.00);
	position: fixed;
	top: 50%;
	right: 0;
	width: 5vw;
	height: 30vh;
	margin-top: -15vh;
}


/* Home Page */
.page#homePage {
	background-image: url("../images/bg_home.png");
}

.page#homePage #homeAllegiance {
	
}

.page#homePage #homeHealthCare {
	
}

.page#homePage h3 {
	
}
.page#homePage h3 #homeEmp {
	
}


/* Our Services */
.page#ourServices {
	background-color: rgba(240, 228, 230, 1.00);
}

.page#ourServices ul {
	float: left;
    margin: 0;
    padding: 0;
	position: absolute;
	top: 120vh;
	left: 15vw;
}
.page#ourServices ul li {
	font-weight: bold;
	font-size: 11pt;
	color: rgba(76, 76, 76, 1.00);
	list-style-type: none;
	background-image: url("../images/checkmark.png");
	background-size: 1.5vw auto;
	background-repeat: no-repeat;
	background-position-y: center;
	vertical-align: middle;
	padding: 1.1vh 2.3vw;
}

.page#ourServices h2 {
	color: rgba(232, 115, 45, 1.00);
	font-weight: lighter;
	font-size: 35pt;
	text-transform: capitalize;
	position: absolute;
	top: 125vh;
	left: 41vw;
	z-index: 1;
}

.page#ourServices p {
	margin: 0;
	padding: 0;
	width: 33vw;
	font-weight: normal;
	font-size: 17pt;
	color: rgba(76, 76, 76, 1.00);
	position: absolute;
	top: 145vh;
	left: 41vw;
	z-index: 1;
}

.page#ourServices img {
	position: absolute;
    top: 150vh;
    right: 0vw;
	width: 25vw;
	height: auto;
	z-index: 0;
}


/* About Us */
.page#aboutUs {
	background-image: url("../images/bg_home.png");
	display: none;
}


/* Contact Us */
.page#contactUs {
	background-image: url("../images/bg_home.png");
	display: none;
}
