* {
	margin: 0;
	padding: 0;
}

html, body, #content, .page {
	font-family: zilla_slab, serif;
	width: 100%;
	height: 100%;
}

.aname {
	display: block;
}

.page {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background-size: cover;
}


/* Header */
header {
	position: fixed;
	width: 100%;
	z-index: 2;
}
header #logo, header #navbar, header #navbar ul li {
	float: left;
}

header #logo {
	margin: 6vh 3vw 0;
}
header #logo img {
	width: 10vw;
    height: auto;
}

header #navbar {
    margin: 7vh 0 0 15vw;
}
header #navbar ul li {
	list-style-type: none;
	margin: 0 3vw;
}
header #navbar ul li a {
	font-weight: bold;
	font-size: 15pt;
	text-decoration: none;
	color: white;
}


/* Side bar */
#socialMedia {
	background-color: rgba(248, 248, 248, 1.00);
	position: fixed;
	top: 50%;
	right: 0;
	width: 4.5vw;
	height: 41vh;
	margin-top: -20.5vh;
	z-index: 3;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
#socialMedia ul li {
	list-style: none;
	
}
#socialMedia ul li a {
	display: block;
	margin: 1vh 0 1vh 1vw;
}
#socialMedia ul li a img {
	width: 2.5vw;
	height: auto;
}


/* Scrollers */
#controls div {
	position: fixed;
	right: 2vw;
	z-index: 4;
}
#controls div a {
	display: block;
}
#controls #scrollUp {
	top: 2vh;
}
#controls #scrollDown {
	bottom: 2vh;
	-webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
	-moz-transform: rotate(180deg);        /* FF */
	-o-transform: rotate(180deg);          /* Opera */
	-ms-transform: rotate(180deg);         /* IE9 */
	transform: rotate(180deg);             /* W3C compliant browsers */

	/* IE8 and below */
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}
#controls div a img {
	width: 4vw;
	height: auto;
}



/* Home Page */
.page#homePage {
	background-image: url("../images/bg_home.png");
	color: rgba(61, 122, 153, 1.00);
	font-family: fira_sans, sans-serif;
}

.page#homePage #homeAllegiance {
	font-weight: 100;
	font-size: 60pt;
	position: absolute;
	top: 35vh;
	left: 18vw;
}

.page#homePage #homeHealthCare {
	font-weight: 200;
	font-size: 35pt;
	margin: 0;
	width: 15vw;
	position: absolute;
	top: 48vh;
	left: 18vw;
}

.page#homePage h3 {
	font-weight: bolder;
	font-size: 40pt;
	position: absolute;
	top: 72vh;
	left: 18vw;
}
.page#homePage h3 #homeEmp {
	
}


/* Our Services */
.page#ourServices {
	background-color: rgba(240, 228, 230, 1.00);
}

.page#ourServices ul {
	float: left;
	position: absolute;
	top: 20vh;
	left: 15vw;
}
.page#ourServices ul li {
	font-weight: bold;
	font-size: 11pt;
	color: rgba(76, 76, 76, 1.00);
	list-style-type: none;
	background-image: url("../images/checkmark.svg");
	background-size: 1.5vw auto;
	background-repeat: no-repeat;
	background-position-y: center;
	vertical-align: middle;
	padding: 1.1vh 2.3vw;
}

.page#ourServices h2 {
	color: rgba(232, 115, 45, 1.00);
	font-weight: lighter;
	font-size: 35pt;
	text-transform: capitalize;
	position: absolute;
	top: 25vh;
	left: 41vw;
	z-index: 1;
}

.page#ourServices p {
	width: 33vw;
	font-weight: normal;
	font-size: 17pt;
	color: rgba(76, 76, 76, 1.00);
	position: absolute;
	top: 45vh;
	left: 41vw;
	z-index: 1;
}

.page#ourServices img {
	position: absolute;
    top: 50vh;
    right: 0vw;
	width: 25vw;
	height: auto;
	z-index: 0;
}


/* About Us */
.page#aboutUs {
	background-image: url("../images/bg_home.png");
	display: none;
}


/* Contact Us */
.page#contactUs {
	background-image: url("../images/bg_home.png");
	display: none;
}
